<%= form_with(model: addto_book) do |form| %>
  <% if addto_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(addto_book.errors.count, "error") %> prohibited this addto_book from being saved:</h2>

      <ul>
        <% addto_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
